:root {
  --bg-color: #f9f9f9;
  --text-color: #333;
  --box-bg: #fff;
  --box-border: #ddd;
}

[data-theme="dark"] {
  --bg-color: #1e1e1e;
  --text-color: #e0e0e0;
  --box-bg: #2c2c2c;
  --box-border: #444;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.metric-box,
.grafico-container,
table {
  background-color: var(--box-bg);
  border-color: var(--box-border);
}

th {
  background-color: var(--box-border);
  color: var(--text-color);
}


#theme-switcher {
  margin-top: 10px;
  font-size: 16px;
  padding: 6px 12px;
  border-radius: 4px;
}
